@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Great+Vibes&family=Lato:wght@300&family=Oswald&display=swap');

/* Padding and borders for all elements (chrome, firefox, safari) */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	height: 100%
}

/* Global body font, margins and color */
body {
	margin: 0;
	min-height: 100%;
	background-color: #fff;
	font-family: Exo, sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #333
}

html.my-mod-touch * {
	background-attachment: scroll!important
}

/* Global Button*/
.my-button {
	display: inline-block;
	padding: 9px 15px;
	background-color: #797c7e;
	color: #fff;
	border: 0;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0
}

input.my-button {
	-webkit-appearance: button
}html[data-my-dynpage] [data-my-cloak] {
	color: transparent!important
}


ul {
	margin-top: 0;
	margin-bottom: 10px;
	padding-left: 40px
}

/* Global headings*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin-bottom: 10px
}

h1 {
	font-size: 38px;
	line-height: 44px;
	margin-top: 20px
}

h2 {
	font-size: 32px;
	line-height: 36px;
	margin-top: 20px
}

h3 {
	font-size: 24px;
	line-height: 30px;
	margin-top: 20px
}

h4 {
	font-size: 18px;
	line-height: 24px;
	margin-top: 10px
}

h5 {
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px
}

h6 {
	font-size: 12px;
	line-height: 18px;
	margin-top: 10px
}

/* Navbar List */
.my-list-unstyled {
	padding-left: 0;
	list-style: none
}

/* Centered container */
.my-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 940px
}

.my-container:after,
.my-container:before {
	content: " ";
	display: table;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2
}

.my-container:after {
	clear: both
}

@media screen and (max-width:991px) {
	.my-container {
		max-width: 728px
	}
}

@media screen and (max-width:479px) {
	.my-container {
		max-width: none
	}
}

@media screen and (max-width:767px) {
	.my-nav-brand {
		padding-left: 10px
	}
}

/* Navigation styling*/
.my-nav {
	position: relative;
	background: #ddd;
	z-index: 1000
}

.my-nav:after,
.my-nav:before {
	content: " ";
	display: table;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2
}

.my-nav:after {
	clear: both
}

.my-nav-brand {
	position: relative;
	float: left;
	text-decoration: none;
	color: #333
}

.my-nav-link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #222;
	padding: 20px;
	text-align: left;
	margin-left: auto;
	margin-right: auto
}

[data-nav-menu-open] {
	display: block!important;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #c8c8c8;
	text-align: center;
	overflow: visible;
	min-width: 200px
}

.my-nav[data-animation=over-left] [data-nav-menu-open] {
	right: auto;
	z-index: 1;
	top: 0
}

.my-nav[data-animation=over-right] [data-nav-menu-open] {
	left: auto;
	z-index: 1;
	top: 0
}

@media screen and (max-width:767px) {
	.my-nav-brand {
		padding-left: 10px
	}
}

@keyframes spin {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

/* Form */

button,
html input[type=button],
input[type=reset] {
	border: 0;
	cursor: pointer;
	-webkit-appearance: button
}

.my-form-body {
	background-color: #000;
	background-image: url('/assets/images/form-bg.jpg');
	background-position: 0px 0px;
	background-size: cover;
  }

.my-form {
	margin: 0 0 15px
}

.my-form-done {
	display: none;
	padding: 20px;
	text-align: center;
	background-color: #ddd
}

.my-form-fail {
	display: none;
	margin-top: 10px;
	padding: 10px;
	background-color: #ffdede
}

/* Form Labels */
label {
	display: block;
	margin-bottom: 5px;
	font-weight: 700
}
/* Form Input */
.my-input {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.428571429;
	color: rgb(255, 255, 255);
	background-color: rgb(190, 187, 187);
	border: 1px solid #ccc
}

.my-input:-moz-placeholder {
	color: #999
}

.my-input::-moz-placeholder {
	color: #999;
	opacity: 1
}

.my-input:-ms-input-placeholder {
	color: #999
}

.my-input::-webkit-input-placeholder {
	color: #999
}

.my-input:focus {
	border-color: #3898ec;
	outline: 0
}

.my-input[disabled],
.my-input[readonly] {
	cursor: not-allowed;
	background-color: #eee
}


input.my-button {
	-webkit-appearance: button
}

.my-form-label {
	display: inline-block;
	cursor: pointer;
	font-weight: 400;
	margin-bottom: 0
}
/* Centered container*/
.my-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 940px
}

.my-container:after,
.my-container:before {
	content: " ";
	display: table;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2
}

.my-container:after {
	clear: both
}

@media screen and (max-width:991px) {
	.my-container {
		max-width: 728px
	}
}

@media screen and (max-width:479px) {
	.my-container {
		max-width: none
	}
}

[data-nav-menu-open] {
	display: block!important;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #c8c8c8;
	text-align: center;
	overflow: visible;
	min-width: 200px
}

@keyframes spin {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}