@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Great+Vibes&family=Lato:wght@300&family=Oswald&display=swap');

  /* Navbar */

.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .nav-grid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
    -ms-grid-columns: 1fr max-content max-content max-content;
    grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
    grid-template-columns: 1fr max-content max-content max-content;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .nav-logo-link {
    display: block;
    height: 60px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
  }
  
  .nav-logo {
    width: auto;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 0% 50%;
    object-position: 0% 50%;
  }
  
  .nav-link {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 0px;
    color: #444;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .brand-text {
    height: 35%;
    font-size: 20px;
  }
  
  .body {
    font-family: Exo, sans-serif;
  }
  
  @media screen and (max-width: 767px) {
    .sticky-nav {
      position: relative;
    }
  
    .nav-grid {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 479px) {
    .sticky-nav {
      padding: 0px;
    }
  
    .nav-grid {
      grid-auto-flow: row;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 100px;
      grid-template-rows: 100px;
    }
  
    .nav-logo-link {
      border-top: 1px solid #c4c4c4;
    }
  
    .nav-link {
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid #c4c4c4;
    }
  }
  
  #my-nav {
    -ms-grid-column-align: start;
    justify-self: start;
  }
  
  @media screen and (max-width: 479px) {
    #my-nav {
      -ms-grid-column-align: center;
      justify-self: center;
    }
  }

  /*  Hero section */

  .hero-overlay {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 90vh;
    max-height: 780px;
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url('/assets/images/hero-bg.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/assets/images/hero-bg.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    color: #fff;
  }
  
  .centered-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  
  .heading {
    padding-top: 20px;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
    font-size: 72px;
  }
  
  @media screen and (max-width: 767px) {
    .hero-overlay {
      padding: 40px 20px;
    }
  }
  
  @media screen and (max-width: 479px) {
    .centered-container {
      text-align: left;
    }
  }

  /* Cards section */

  .cards-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.78);
    color: #fff;  
  }
  
  .centered-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: Exo, sans-serif;
    font-size: 16px;
    text-align: center;
  }
  
  .cards-grid-container {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: left;
  }
  
  .cards-image-mask {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
    border-radius: 0%;
  }
  
  .cards-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    max-width: none;
    background-image: url('../images/cards/living-space-resized-p-500.jpeg');
    background-size: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
  
  .paragraph {
    text-align: center;
  }
  
  .paragraph-2 {
    text-align: center;
  }
  
  .paragraph-3 {
    text-align: center;
  }
  
  .heading {
    text-align: center;
  }
  
  .heading-2 {
    text-align: center;
  }
  
  .heading-3 {
    text-align: center;
  }
  
  @media screen and (max-width: 991px) {
    .cards-grid-container {
      grid-column-gap: 20px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .cards-section {
      padding: 40px 20px;
    }
  
    .cards-grid-container {
      max-width: none;
      -ms-grid-row-align: stretch;
      align-self: stretch;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
    }
  }
  
  @media screen and (max-width: 479px) {
    .centered-container {
      text-align: left;
    }
  
    .cards-grid-container {
      margin-right: 0px;
      margin-left: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  
  #my-node-living {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-romy-align: auto;
    align-self: auto;
  }
  
  @media screen and (max-width: 767px) {
    #my-node-office-header {
      grid-row: 1;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-romy-span: 1;
      grid-row-end: span 1;
      grid-column: 1;
      -ms-grid-column: span 1;
      grid-column-start: span 1;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
    }
  
    #my-node-office-paragraph {
      grid-row: 1;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-romy-span: 1;
      grid-row-end: span 1;
      grid-column: 1;
      -ms-grid-column: span 1;
      grid-column-start: span 1;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
    }
  
    #my-node-industry-header {
      grid-row: 1;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-romy-span: 1;
      grid-row-end: span 1;
      grid-column: 1;
      -ms-grid-column: span 1;
      grid-column-start: span 1;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
    }
  
    #my-node-industry-paragraph {
      grid-row: 1;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-romy-span: 1;
      grid-row-end: span 1;
      grid-column: 1;
      -ms-grid-column: span 1;
      grid-column-start: span 1;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
      -ms-grid-romy-align: start;
      align-self: start;
    }
  }
  
  @media screen and (max-width: 479px) {
    #my-node-living {
      grid-column: 1;
      -ms-grid-column: span 1;
      grid-column-start: span 1;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
    }
  
    #my-node-office {
      grid-column: 1;
      -ms-grid-column: span 1;
      grid-column-start: span 1;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
    }
  
    #my-node-industry {
      -ms-grid-column: span 1;
      grid-column-start: span 1;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
    }
  }


  /* Footer section */

  .footer {
    padding-top: 60px;
    padding-bottom: 40px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }
  
  .footer-flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
  }
  
  .footer-logo-link {
    max-height: 60px;
    min-width: 60px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  
  .footer-image {
    width: 100%;
    height: 100%;
    background-image: url('../images/contact-compass.jpg');
    background-position: 50% 50%;
    background-size: cover;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 0% 50%;
    object-position: 0% 50%;
  }
  
  .footer-heading {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer-link {
    display: block;
    margin-bottom: 10px;
    color: #444;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .image {
    margin-right: 0px;
  }
  
  @media screen and (max-width: 991px) {
    .footer {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .footer {
      padding: 40px 20px;
    }
  
    .footer-image {
      -o-object-fit: contain;
      object-fit: contain;
    }
  }
  
  @media screen and (max-width: 479px) {
    .footer {
      padding-right: 20px;
      padding-left: 20px;
      text-align: left;
    }
  
    .footer-flex-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  
    .footer-logo-link {
      height: 60px;
    }
  
    .footer-heading {
      margin-top: 20px;
    }
  }

  /* Form */

  .contact-form {
    padding-top: 100px;
    padding-bottom: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #8d8d8d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  
  .contact-form-grid {
    display: -ms-grid;
    display: grid;
    margin-top: 40px;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .form-heading {
    background-color: rgba(111, 108, 108, 0);
    font-family: Exo, sans-serif;
    color: #c2c2c2;
  }
  
  .my-form-body {
    background-color: #000;
    background-image: url('/assets/images/form-bg.jpg');
    background-position: 0px 0px;
    background-size: cover;
  }
  
  .container {
    font-family: Exo, sans-serif;
    color: #adadad;
  }
  
  .text-field {
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.2);
  }
  
  .text-field-2 {
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.2);
  }
  
  .text-field-3 {
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.2);
  }
  
  .text-field-4 {
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.2);
  }
  
  .submit-button {
    border-radius: 20px;
    background-color: rgba(10, 10, 10, 0.43);
    color: #ccc;
  }
  
  @media screen and (max-width: 767px) {
    .contact-form {
      padding: 40px 20px;
    }
  }
  
  @media screen and (max-width: 479px) {
    #my-node-name {
      grid-column: 1;
      -ms-grid-column: span 2;
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
      grid-column: 1;
      grid-row: 1;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-romy-span: 1;
      grid-row-end: span 1;
    }
  
    #my-node-last-name {
      grid-column: 1;
      -ms-grid-column: span 2;
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
      grid-row: 1;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-romy-span: 1;
      grid-row-end: span 1;
    }
  
    #my-node-email {
      grid-column: 1;
      -ms-grid-column: span 2;
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
      grid-row: 1;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-romy-span: 1;
      grid-row-end: span 1;
    }
  
    #my-node-phone {grid-column: 1;
      -ms-grid-column: span 2;
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
      grid-row: 1;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-romy-span: 1;
      grid-row-end: span 1;
    }
  }

  /* Login form */

  .login-form {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../images/login.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .login-form-grid {
    display: block;
    width: 100%;
    margin-top: 40px;
    grid-auto-flow: column dense;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .login-body {
    background-color: #000;
    background-image: url('../images/login.jpg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: repeat;
    font-family: Exo, sans-serif;
  }
  
  .form-block {
    width: 30%;
    margin-left: 350px;
    border-radius: 20px;
    background-color: rgba(49, 49, 49, 0.45);
    font-family: Exo, sans-serif;
    color: #f5f2f2;
    text-align: center;
  }
  
  .login-form {
    height: 50%;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  
  .username-field {
    border-radius: 20px;
  }
  
  .password-field {
    border-radius: 20px;
  }
  
  .login-button {
    border-radius: 11px;
    background-color: #020202;
  }
  
  .italic-text {
    border-radius: 20px;
    background-color: #fff;
  }
  
  .login-form-2 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('/assets/images/login.jpg');
    background-position: 0px 0px;
    background-size: auto;
  }
  
  .login-form-grid {
    display: block;
    margin-top: 40px;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .main-layout {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .form-container {
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 20px;
    background-color: rgba(189, 183, 183, 0.37);
    font-family: Exo, sans-serif;
    color: #ffefef;
  }
  
  .forgot-pass-text {
    text-decoration: underline;
  }
  
  .form {
    border-radius: 0px;
    text-align: center;
  }
  
  .username-input {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fcdfdf;
  }
  
  .password-input {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  @media screen and (max-width: 767px) {
    .login-form {
      padding: 40px 20px;
    }
  
    .login-form-2 {
      padding: 40px 20px;
    }
  
    .main-layout {
      padding: 40px 20px;
    }
  }
  
  @media screen and (max-width: 479px) {
    #my-node-user {
      grid-column: 1;
      -ms-grid-column: span 2;
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
      grid-row: 1;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-romy-span: 1;
      grid-row-end: span 1;
    }
  
    #my-node-pass {
      grid-column: 1;
      -ms-grid-column: span 2;
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
      grid-row: 1;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-romy-span: 1;
      grid-row-end: span 1;
    }
  }

  /* Gallery */

  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.78);
    text-align: left;
  }
  
  .centered-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  
  .gallery-grid-container {
    display: -ms-grid;
    display: grid;
    margin-top: 40px;
    -ms-grid-romy-align: center;
    align-self: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto 20px auto;
    grid-template-rows: auto auto;
  }
  
  .gallery-lightbox {
    position: relative;
    overflow: hidden;
  }
  
  .gallery-thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url('../images/interior-8.jpg');
    background-position: 50% 50%;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
  
  .link {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  }
  
  .link.my--current {
    font-family: Exo, sans-serif;
    color: #fff9f9;
    text-align: center;
  }
  
  .div-block {
    text-align: left;
  }
  
  @media screen and (max-width: 991px) {
    .gallery-grid-container {
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      -ms-grid-romy-align: stretch;
      align-self: stretch;
    }
  }
  
  @media screen and (max-width: 767px) {
    .gallery {
      padding: 40px 20px;
    }
  
    .gallery-grid-container {
      max-width: none;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
    }
  }
  
  @media screen and (max-width: 479px) {
    .centered-container {
      text-align: left;
    }
  
    .gallery-grid-container {
      margin-right: 0px;
      margin-left: 0px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
    }
  }